.project {
  @apply card w-96 bg-ctp-surface0 shadow-xl;
}

.project-carousel {
  @apply carousel carousel-center pt-16  space-x-8 rounded-box;
  max-width: 70rem;
}

.project-image {
  @apply rounded-box;
  height: 20rem;
  width: 35rem;
  object-fit: cover;
}
